workflows/YoutubeAgent.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Youtube Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Youtube Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-02T18:20:36.761Z",
  "id": "HWWCX0gGhQ3QSOJF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "YoutubeAgent",
  "nodes": [
    {
      "parameters": {},
      "id": "d70b5581-f69c-4c36-abd1-6c7673bb3a10",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c827ff3b-2990-4db5-965e-3f3543113720",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3d04c02a-30c4-4ea5-8fea-6b9c1b627b7b",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a research assistant agent. You have Wikipedia, Hacker News API, and Serp API at your disposal. \n\nTo answer the user's question, first search wikipedia. If you can't find your answer there, then search articles using Hacker News API. If that doesn't work either, then use Serp API to answer the user's question.\n\n*REMINDER*\nYou should only be calling one tool. Never call all three tools if you can get an answer with just one: Wikipedia, Hacker News API, and Serp API"
        }
      },
      "id": "f83a8e0d-d012-4baf-8196-099fa86bf184",
      "name": "Youtube Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -60,
        300
      ],
      "id": "97026e54-0a61-4748-b743-b51dee078a54",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "RVEpr4DpMNzTk6hF",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "can you get me 3 articles about the election"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-04T11:07:59.083Z",
  "versionId": "ab32882a-c49a-40fb-a5ff-25cc96d64e5a"
}